*{
	box-sizing: border-box;
}
body a{
	text-decoration: none;
}
body{
	margin: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-image: url(img/black-quad-wicker.png);
}
.content_box{
	max-width: 1088px;
	padding: 0 20px;
	margin: 0 auto;
}
.header{
	background-color: #000000;
	min-height: 60px;
	padding: 20px 0;
}
.header_items{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.logo_img{
	width: 70px;
	height: 40px;
}
}
.main__title{
	margin: 30px 0px 10px 10px;
	font-weight: 600;
	font-size: 18px;
}
#main__items{
	min-height: 700px;
	display: flex;
	flex-wrap: wrap;
}
.film_place{
	width: 33.3%;
	min-width: 280px;
	padding: 0 1%;
    margin: 0 0 20px;
}
.film_cart{
	height: 100%;
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #808080;
	box-shadow: 0 0 10px rgba(0,0,0,10);
}
.picture img{
	width: 100%;
	height: 100%;
	box-shadow: 0 0 10px rgba(0,0,0,10);
}
.film_name{
	font-size: 18px;
	font-weight: 600;
}
.button_load_films{
	display: flex;
}
.button_load_films button{
	margin: 0 auto;
	padding: 10px;
	font-size: 24px;
	background-color: #C0C0C0;
	color: black;
	outline: none;
	border: none;
	cursor: pointer;
}
.review_form{
	margin: 0 10px 0 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	line-height: 40px; 
}
.review_form label{
	font-weight: 600;
	font-size: 24px;
	color: #C0C0C0;
}
.review_form input{
	text-align: center;
	width: 400px;
	border: 0;
	outline: none;
	padding: 20px;
	font-size: 18px;
	background-color: black;
	color: white;
	box-shadow: 0 0 10px rgba(0,0,0,10);
}

#btn{
	background-color: #C0C0C0;
	color: black;
}
.review_form textarea{
	width: 400px;
	height: 300px;
	resize: none;
	border: 0;
	outline: none;
	padding: 20px;
	font-size: 18px;
	background-color: black;
	color: white;
	box-shadow: 0 0 10px rgba(0,0,0,10);
}
.btn_submit{
	cursor: pointer;
}
#place_review{
	margin: 20px 10px;
	display: flex;
	flex-wrap: wrap;
}
.review_title{
	margin-left: 20px;
	margin-bottom: 20px;
	font-weight: 600;
	font-size: 30px;
	color: #C0C0C0;
	text-align: center;
}
.review_place{
	width: 33%;
	min-width: 280px;
	padding: 0 1%;
	margin: 0 0 20px;

}
.review_block{
	height: 100%;
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: black; 
	color: white;
	line-height: 30px;
	font-size: 18px;
	box-shadow: 0 0 10px rgba(0,0,0,10);
}
.review_name{
	font-weight: 600;
	font-size: 24px;
}
.review_email{
	font-size: 16px;
}
.make_review{
	position: fixed;
	left: 40px;
	top: 90%;
	padding: 10px;
	background-color:  #C0C0C0;
	color: black;
	font-size: 16px;
}
@media(max-width: 899px){
	.make_review{
		position: relative;
		margin-top: 20px;
		display: inline-block;
		margin-left: 10%;
	}
	#place_review{
		justify-content: center;
	}
	.review_title{
		text-align:center;
	}
}
	.main_title{
		text-align:center;
		font-size: 20px;
		color: #C0C0C0;
	}
@media(max-width: 879px){
	#main__items{
		justify-content:center;
	}
}

